@import 'variables';
@import "normalize";
* {
  outline: none;
}

@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  color: #eee;
  text-align: left;
  background-color: $dark0;
  min-height: 100vh;

  font-family: Nunito, monospace;
  line-height: 0.8;
}

@import "log";
@import "error";

